.contact {
    i {
        color: $color-secondary-2-0;
    }

    section {
        margin: 0 10px;
        max-width: 720px;
        color: #555;
        font-weight: 550;

        @media only screen and (min-width: 820px) {
            margin: 0 auto;
        }
    }

    dl {
        line-height: 1.5;
    }

    dt {
        color: $color-primary-0;
        font-weight: bold;
        margin-top: 8px;
    }

    a {
        text-decoration: none;
        color: $color-secondary-2-0;
        transition: color 0.1s;

        &:hover {
            text-decoration: underline;
            color: $color-secondary-2-2;
        }
    }

}
