nav {
    max-width: 960px;
    padding: 0 20px;
    margin: 8px auto;
    display: flex;
    align-items: center;
    line-height: 1.3;

    div {
        display: inline;
        &.left-nav {
            flex: 1;
            display: flex;
            flex-direction: column;
            @media only screen and (min-width: 540px) {
                flex-direction: row;
                align-items: center;
            }
        }
        &.right-nav {
            display: flex;
            align-items: center;
            a {
                margin: 5px;
            }
        }
    }

    .sm {
        display: none;
        @media only screen and (min-width: 330px) {
            display: flex;
        }
    }

    a#logo {
        text-decoration: none;
        transition: color 0.1s;
        color: $color-primary-0;
        font-weight: bold;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 362px) {
            flex-direction: row;
        }

        &:hover {
            color: $color-primary-1;
        }

        span {
            margin-right: 8px;
        }
    }
}

#page {
    margin-top: 107px;

    @media only screen and (min-width: 362px) {
        margin-top: 73px;
    }

    @media only screen and (min-width: 540px) {
        margin-top: 50px;
    }
}

#nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lighten($color-primary-1, 16%);
    opacity: 0.9;
    max-height: 107px;

    @media only screen and (min-width: 362px) {
        max-height: 77px;
    }

    @media only screen and (min-width: 540px) {
        max-height: 50px;
    }
}
